/* reset CSS (les libs CSS sont généralement orientées blogs) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input,
textarea {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* styles spécifiques à chaque tag */
textarea {
	flex: auto;
	border: 1px solid lightgray;
	font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	resize: none;
}
hr {
	margin: 12px;
	border: 0;
	height: 2px;
	background-color: lightgray;
}
input[type=checkbox] { margin: 0 6px }
select {
	margin: 0 6px;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 2px;
}

/* Split.js interdit de fixer ce CSS autrement que par classe */
.gutter-horizontal { cursor: ew-resize }

/* styles spécifiques à la barre d'outils */
.icone {
	flex: none;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 2px;
	width: 28px;
	height: 28px;
}
.icone:disabled { opacity: 0.5 }
.icone:hover:enabled:not(.checking):not(.checked) { background-color: #e4e4e4 }
.icone.checking { background-color: gold }
.icone.checked {
	background-color: gold;
	background-size: 0;
	border: 2px solid gray;
	font: bold 15px Raleway;
}

/* gestion des onglets du panneau de droite */
.onglet {
	display: inline-flex;
	align-self: flex-end;
	border-radius: 6px 6px 0 0;
	border-bottom: 0;
	cursor: pointer;
	padding: 8px 8px;
	margin-left: 4px;
	transition: 0.2s;
}
.onglet:hover:not(.checked) { background-color: #e4e4e4 }
.onglet.checked {
	background-color: lightblue;
	box-shadow: 0 0 8px lightgray;
}
